#liste_online_users{
  float: right;
  width: 50%;
}
#liste_messages{
  float: left;
  width: 50%;
}
main {
  overflow: hidden;
}

.message:nth-child(odd) {
background-color: grey;
color: #FFF;
}

